<!DOCTYPE html>
<html>
<body>

<h1>JavaScript Arithmetic</h1>


<p id="demo"></p>
<button onclick="document.getElementById('demo').innerHTML=Date()">The time is?</button>            
<!--script>
  
    const person=new Object();
    person.firstname="nandi";
    person.lastname="subbu";
    person.age=50;
    document.getElementById("demo").innerHTML=person.firstname+" "+person.lastname+" "+person.age+" years old";
  
</script-->
<script>
  
/*const x=function(a,b){
 return a*b;

};
document.getElementById("demo").innerHTML=x(2,3);
*/
const myfun = new Function("a", "b", "return a * b");
document.getElementById("demo").innerHTML=myfun(4,4);

</script>
</body>
</html>
